:root {
  --font-family: 'SB Sans Text', sans-serif;
  --green: #21a038;
  --light-green: #d8f1a0;
  --light-green-bg: #f6fbf7;
  --dark-green: #093922;
  --text-bold: #2c3136;
  --text-regular: #787878;
}
