.header {
  border-bottom: 1px solid #f2f3ef;
}

.header-container {
  padding-top: 4px;
  padding-bottom: 4px;
}

@media screen {
  .header-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.logo-image {
  width: 150px;
  height: 45px;
}

@media only screen and (min-width: 1440px) {
  .logo-image {
    width: 169px;
    height: 51px;
  }
}
