.income-container {
  padding-top: 48px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media only screen and (min-width: 1440px) {
  .income-container {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 120px;
  }
}

.income-title {
  color: var(--text-bold, #2c3136);
  text-align: center;
  font-size: 27px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .income-title {
    font-size: 36px;
    margin-bottom: 12px;
  }
}

.income-input-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 1440px) {
  .income-input-box {
    gap: 12px;
  }
}

.income-input-item {
  padding: 18px 32px;
  border-radius: 65px;
  background: var(--light-green-bg, #f6fbf7);
}

@media only screen and (min-width: 1440px) {
  .income-input-item {
    width: 660px;
    padding: 35px 52px;
  }
}

.income-input-item input {
  width: 100%;
}

.income-sum-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 1.3em;
}

@media only screen and (min-width: 1440px) {
  .income-sum-box {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.income-sum-box h3 {
  color: var(--text-bold, #2c3136);
}

.income-sum-box p {
  color: var(--green, #21a038);
}

.income-amount-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  color: var(--text-bold, #2c3136);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
}

@media only screen and (min-width: 1440px) {
  .income-amount-box {
    display: none;
  }
}

.income-amount-box-desk {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .income-amount-box-desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-bold, #2c3136);
    font-weight: 400;
    line-height: 1.3em;
    font-size: 16px;
  }
}

.payment-container {
  padding: 24px 30px;
  border-radius: 42px;
  background: var(--dark-green, #093922);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 1440px) {
  .payment-container {
    padding: 44px 30px;
    gap: 14px;
    width: 466px;
    height: 350px;
  }
}

.payment-box {
  width: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .payment-box {
    width: 184px;
    height: 95px;
  }
}

.payment-title {
  line-height: 1.3em;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .payment-title {
    font-size: 16px;
  }
}

.payment-sum {
  line-height: 1.3em;
  color: var(--green, #21a038);
  font-size: 36px;
  font-weight: 600;
}

@media only screen and (min-width: 1440px) {
  .payment-sum {
    font-size: 48px;
  }
}

.bonus-box {
  padding: 15px 23px;
  border-radius: 20px;
  background: #224d38;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.3em;
}

@media only screen and (min-width: 1440px) {
  .bonus-box {
    width: 378px;
    margin: 0 auto;
    padding: 22px 24px;
  }
}

.bonus-title {
  width: 119px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .bonus-title {
    width: 161px;
    font-size: 16px;
  }
}

.bonus-sum {
  color: var(--green, #21a038);
  font-size: 27px;
  font-weight: 600;
}

@media only screen and (min-width: 1440px) {
  .bonus-sum {
    font-size: 36px;
  }
}

.payment-invest-button {
  background: var(--green, #21a038);
  padding: 16px 21px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3em;
  transition: 0.3s ease;
}

.payment-invest-button:hover {
  background: var(--green-hover, #1d8d51);
}

@media only screen and (min-width: 1440px) {
  .payment-invest-button {
    font-size: 16px;
  }
}
