<section>
  <div class="container about-container">
    <h2 class="about-title">Про нас</h2>
    <ul class="about-list">
      <li class="about-item">
        <h3>Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя</h3>
        <p>
          Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли
          невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків
          шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
          прижилася в електронному верстуванні, залишаючись по суті незмінною.
        </p>
        <img
          class="about-img-first"
          srcset="
            ./images/about_abstract_green@1x.png 1x,
            ./images/about_abstract_green@2x.png 2x
          "
        />
      </li>
      <li class="about-item">
        <h3>Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя</h3>
        <p>
          Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли
          невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків
          шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
          прижилася в електронному верстуванні, залишаючись по суті незмінною.
        </p>
        <img
          class="about-img-second"
          srcset="./images/about_man@1x.png 1x, ./images/about_man@2x.png 2x"
        />
      </li>
      <li class="about-item about-item-last">
        <img
          class="about-img-third"
          srcset="
            ./images/about_brain@1x.png 1x,
            ./images/about_brain@2x.png 2x
          "
        />
        <h3>Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя</h3>
        <p>
          Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли
          невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків
          шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
          прижилася в електронному верстуванні, залишаючись по суті незмінною.
        </p>
      </li>
    </ul>
  </div>
</section>
