<section id="about">
  <div class="container about-container">
    <h2 class="about-title">Про нас</h2>
    <div class="about-list">
      <ul class="about-light-items">
        <li class="about-item">
          <div class="about-title-text-box">
            <h3>
              Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя
            </h3>
            <p>
              Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              коли невідомий друкар взяв шрифтову гранку та склав на ній
              підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять
              століть, але й прижилася в електронному верстуванні, залишаючись
              по суті незмінною.
            </p>
          </div>
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="
                ./images/about_abstract_green@1x.png,
                ./images/about_abstract_green@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/about_desk_abstract_green@1x.png,
                ./images/about_desk_abstract_green@2x.png 2x
              "
            />
            <img
              class="about-img-first"
              src="./images/about_abstract_green@1x.png"
            />
          </picture>
        </li>
        <li class="about-item">
          <div class="about-title-text-box">
            <h3>
              Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя
            </h3>
            <p>
              Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              коли невідомий друкар взяв шрифтову гранку та склав на ній
              підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять
              століть, але й прижилася в електронному верстуванні, залишаючись
              по суті незмінною.
            </p>
          </div>
          <picture>
            <source
              media="(max-width: 1439px)"
              srcset="./images/about_man@1x.png, ./images/about_man@2x.png 2x"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/about_desk_man@1x.png,
                ./images/about_desk_man@2x.png 2x
              "
            />
            <img class="about-img-second" src="./images/about_man@1x.png" />
          </picture>
        </li>
      </ul>
      <div class="about-item about-item-last">
        <picture>
          <source
            media="(max-width: 1439px)"
            srcset="./images/about_brain@1x.png, ./images/about_brain@2x.png 2x"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/about_desk_brain@1x.png,
              ./images/about_desk_brain@2x.png 2x
            "
          />
          <img class="about-img-third" src="./images/about_brain@1x.png" />
        </picture>
        <h3>Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя</h3>
        <p>
          Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли
          невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків
          шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й
          прижилася в електронному верстуванні, залишаючись по суті незмінною.
        </p>
      </div>
    </div>
  </div>
</section>
