<section class="hero-section">
  <div class="container hero-container">
    <h1 class="main-title">Інвестувати простіше, ніж здається!</h1>
    <p class="hero-text">
      Кожен клієнт має доступ до нової інвестиційної платформи з можливістю
      отримання доходу. Будь ласка, пройдіть просту реєстрацію на сайті, а також
      ознайомтеся з інформацією нижче, щоб дізнатися, як підвищити свій дохід
      лише за кілька кроків!
    </p>
    <div class="hero-form-bg">
      <form class="hero-form">
        <h2 class="hero-form-title">Почніть зараз</h2>
        <label for="name" class="hero-form-label">
          Ім'я*
          <input
            type="text"
            id="name"
            placeholder="Ваше ім'я"
            class="hero-form-input"
          />
        </label>
        <label for="surname" class="hero-form-label">
          Прізвище*
          <input
            type="text"
            id="surname"
            placeholder="Ваше прізвище"
            class="hero-form-input"
          />
        </label>
        <label for="phone" class="hero-form-label">
          Номер телефону*
          <input
            type="text"
            id="phone"
            placeholder="+3 (__) ___ - __ - __"
            class="hero-form-input"
          />
        </label>
        <label for="email" class="hero-form-label">
          Електронна пошта
          <input
            type="text"
            id="email"
            placeholder="Введіть вашу пошту"
            class="hero-form-input"
          />
        </label>
        <button type="submit" class="submit-button">Відправити</button>
      </form>
    </div>
  </div>
  <div class="statistics-container">
    <ul class="statistics-list">
      <li>
        <h3 class="statistics-subtitle">75+</h3>
        <p class="statistics-text">Клієнтів</p>
      </li>
      <li>
        <h3 class="statistics-subtitle">4.9</h3>
        <p class="statistics-text">Рейтинг Довіри</p>
      </li>
      <li>
        <h3 class="statistics-subtitle">100</h3>
        <p class="statistics-text">Інвестицій</p>
      </li>
    </ul>
  </div>
</section>
