<section class="hero-section">
  <div class="container hero-container">
    <div class="text-wrapper">
      <div class="title-text-box">
        <h1 class="main-title">
          Інвестувати <br />
          простіше, ніж здається!
        </h1>
        <p class="hero-text">
          Кожен клієнт має доступ до нової інвестиційної платформи з можливістю
          отримання доходу. Будь ласка, пройдіть просту реєстрацію на сайті, а
          також ознайомтеся з інформацією нижче, щоб дізнатися, як підвищити
          свій дохід лише за кілька кроків!
        </p>
      </div>
      <div class="statistics-container-desk">
        <ul class="statistics-list-desk">
          <li>
            <h3 class="statistics-subtitle-desk">75+</h3>
            <p class="statistics-text-desk">Клієнтів</p>
          </li>
          <li>
            <h3 class="statistics-subtitle-desk">4.9</h3>
            <p class="statistics-text-desk">Рейтинг Довіри</p>
          </li>
          <li>
            <h3 class="statistics-subtitle-desk">100</h3>
            <p class="statistics-text-desk">Інвестицій</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-form-bg">
      <img
        class="hero-img"
        srcset="./images/person@1x.png 1x, ./images/person@2x.png 2x"
        alt="person"
      />
      <form class="hero-form">
        <h2 class="hero-form-title">Почніть зараз</h2>
        <label for="name" class="hero-form-label">
          Ім'я*
          <input
            type="text"
            id="name"
            placeholder="Ваше ім'я"
            class="hero-form-input"
          />
        </label>
        <label for="surname" class="hero-form-label">
          Прізвище*
          <input
            type="text"
            id="surname"
            placeholder="Ваше прізвище"
            class="hero-form-input"
          />
        </label>
        <label for="phone" class="hero-form-label">
          Номер телефону*
          <input
            type="text"
            id="phone"
            placeholder="+3 (__) ___ - __ - __"
            class="hero-form-input"
          />
        </label>
        <label for="email" class="hero-form-label">
          Електронна пошта
          <input
            type="text"
            id="email"
            placeholder="Введіть вашу пошту"
            class="hero-form-input"
          />
        </label>
        <button type="submit" class="submit-button">Відправити</button>
      </form>
    </div>
  </div>
  <div class="statistics-container-mob">
    <ul class="statistics-list-mob">
      <li>
        <h3 class="statistics-subtitle-mob">75+</h3>
        <p class="statistics-text-mob">Клієнтів</p>
      </li>
      <li>
        <h3 class="statistics-subtitle-mob">4.9</h3>
        <p class="statistics-text-mob">Рейтинг Довіри</p>
      </li>
      <li>
        <h3 class="statistics-subtitle-mob">100</h3>
        <p class="statistics-text-mob">Інвестицій</p>
      </li>
    </ul>
  </div>
</section>
