<section id="income">
  <div class="container income-container">
    <div>
      <h2 class="income-title">Розрахуйте свій прибуток</h2>
      <ul class="income-input-box">
        <li class="income-input-item">
          <div class="income-sum-box">
            <h3>Сума інвестицій</h3>
            <p class="invest-sum">29 565</p>
          </div>
          <input type="range" id="invest" min="0" max="50000" />
          <div class="income-amount-box">
            <p>5 000</p>
            <p>50 000</p>
          </div>
          <div class="income-amount-box-desk">
            <p>5 000</p>
            <p>20 000</p>
            <p>35 000</p>
            <p>50 000</p>
          </div>
        </li>
        <li class="income-input-item">
          <div class="income-sum-box">
            <h3>Сума прибутку</h3>
            <p class="profit-sum">96 123</p>
          </div>
          <input type="range" id="profit" min="0" max="210000" />
          <div class="income-amount-box">
            <p>35 000</p>
            <p>210 000</p>
          </div>
          <div class="income-amount-box-desk">
            <p>35 000</p>
            <p>95 000</p>
            <p>150 000</p>
            <p>210 000</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="payment-container">
      <div class="payment-box">
        <h3 class="payment-title">Виплата від інвестицій</h3>
        <p class="payment-sum">100 000</p>
      </div>
      <div class="bonus-box">
        <h3 class="bonus-title">Нарахуємо бонусів за весь період</h3>
        <p class="bonus-sum">12 879</p>
      </div>
      <button type="button" class="payment-invest-button">
        Розпочати Інвестувати
      </button>
    </div>
  </div>
</section>
