<div class="menu-container" id="mobile-menu">
  <div>
    <div class="menu-logo-btn-box">
      <a href="./index.html">
        <img
          class="logo-image"
          srcset="./images/logo@1x.png 1x, ./images/logo@2x.png 2x"
          alt="logo"
        />
      </a>
      <button type="button" class="close-button">
        <svg width="24px" height="24px">
          <use href="./images/sprite.svg#close" />
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="nav-list-mobile">
        <li class="nav-item-mobile">
          <a href="#about">Про нас</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#benefits">Переваги</a>
        </li>
        <li class="nav-item-mobile">
          <a href="#income">Калькулятор прибутку</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
